@import "./settings.colors.scss";

@import "./generic.reset.scss";

@import "./elements.titles.scss";

@import "./components.footer.scss";
@import "./components.header.scss";
@import "./components.main.scss";

body {
    background-color: $lightgrey;
    font-family: 'Roboto', sans-serif;
    
    a {
        text-decoration: none;
    }
}
