$blue : #3cc1d3;
$lightblue : #e0f2f4;
$grey : #cecece;
$lightgrey : #f6f7f7;
$middlegrey : #a7a7a7;
$darkgrey : #565656;
$white : #ffffff;
$peach : #f2a683;
$orange : #e67e66;
$lightorange : #fdf2f0;
$purple : #786fa6;
$lightpurple : #e7e6f3;
$yellow : #f7d693;
